GITHUB_APP_ID=id
NEXT_PUBLIC_GITHUB_APP_NAME=codrel-sentinel

GITHUB_APP_NAME=codrel-sentinel
GITHUB_PRIVATE_KEY_PATH=./github-pk.pem
KAFKA_BROKER=localhost:9092

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="random"

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

DATABASE_URL=
GITHUB_WEBHOOK_SECRET="random"

GEMINI_API_KEY=

CHROMA_URL=
CHROMA_API_KEY=

DATADOG_WEBHOOK_SECRET="random"